@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-linear {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-linear {
  animation: bounce-linear 3s ease-in-out infinite;
}
